:root {
    --color-black: #212121;
    --color-main-bg: #212121;
    --color-gray-dark: #5E6366;
    --color-gray-light: #ABAFB1;
    --color-white: #FFFFFF;

}

#section-contact header {
    position: relative;
    height: 40vh;
    background-image: url(../img/details_of_the_coast-21.webp);
    background-size: cover;
    background-position: center;
}

#section-contact header h1 {
    color: var(--color-white);
    margin-bottom: 0;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 100px;
}

section#section-contact main {
    background-color: var(--color-main-bg);
}

.contact-container {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
}

/* form */

.contact-container form {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.contact-container form .form-field {
    position: relative;
}

.contact-container form div *:not(label) {
    display: block;
    background-color: var(--color-main-bg);
    border: 1px solid var(--color-white);
    width: 80%;
    margin-bottom: 25px;
    height: 55px;
    padding-left: 20px;
    color: var(--color-gray-light);
}

.contact-container form div label {
    position: absolute;
    color: var(--color-gray-dark);
    z-index: 100;
    padding-left: 20px;
    top: 3px;
}

.contact-container form button[type=submit],
.contact-container form input[type=submit] {
    padding-left: 0;
    background: var(--color-white);
    color: var(--color-black);
    text-transform: uppercase;
    font-weight: 100;
    font-weight: 700;
    width: 80%;
    height: 55px;
    border: none;
}

.contact-container form button[type=submit]:hover {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-light);
}

.contact-container form div input {
    position: relative;
    padding-top: 18px;
}

/* quitar las flechitas del input tipo number */
.contact-container form div input[type='number']::-webkit-outer-spin-button,
.contact-container form div input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.contact-container form div input[type='number'] {
    -moz-appearance: textfield;
}

.contact-container form div textarea {
    padding-top: 25px;
    padding-left: 20px;
    height: 120px;
}

.contact-container form div.form-field input::placeholder,
.contact-container form div.form-field textarea::placeholder {
    color: var(--color-gray-light);
    position: absolute;
    top: 26px;
}

.contact-container form input:focus-visible,
.contact-container form textarea:focus-visible {
    border: none;
}

/* contenido de la derecha */
.second-column {
    margin-top: 30px;
    width: 50%;
    font-weight: 500;
}

.second-column p {
    color: var(--color-white);
    z-index: 100;
    width: 70%;
}

@media (width < 1000px) {
    #section-contact main .contact-container {
        display: block;
        width: fit-content;
        margin-right: 4rem;
        margin-left: 4rem;
        justify-self: center;
    }

    .contact-container form {
        width: 100%;
        padding-bottom: 40px;
    }

    #section-contact main .contact-container form .form-field input,
    #section-contact main .contact-container form .form-field textarea,
    #section-contact main .contact-container form input,
    #section-contact main .contact-container .second-column,
    #section-contact main .contact-container .second-column p {
        width: 100% !important
    }

    #section-contact main .contact-container .second-column {
        margin-top: 0;
    }

    #section-contact main .contact-container .second-column p:last-child {
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .contact-container form {
        padding-top: 50px;
    }
}

@media (width < 500px) {
    #section-contact main .contact-container {
        margin-right: 5%;
        margin-left: 5%;
    }
}