svg.main-logo-white {
    position: absolute;
    z-index: 100;
    left: 3%;
}

@media (width <= 1200px) {
    svg.main-logo-white {
        width: 180px;
        top: 20px;
    }
}

@media (width <= 1000px) { 
    svg.main-logo-white {
        width: 230px;
        top: 35px;
        left: 8%;
    }
}