:root {
    --color-gray-light: #ABAFB1;
    --color-gray-dark: #5E6366;
    --color-bg: #dcdcdc;
}

#not-found {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-bg);
}

#not-found header {
    position: relative;
    height: 25vh;
    background-image: url(../img/details_of_the_coast-21.jpg);
    background-size: cover;
    background-position: center;
}

#not-found header h1 {
    color: var(--color-white);
    margin-bottom: 0;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    margin-left: 100px;
}

#not-found main {
    margin-left: 100px;
    justify-content: space-between;
}

#not-found main div.wrapper {
    display: flex;
    justify-content: space-evenly;
}

#not-found main div.camera-icon {
    align-self: center;
}

div.camera-icon img {
    width: 100px;
}

#not-found main a {
    display: block;
    text-decoration: none;
    color: #000;
    background-color: var(--color-gray-light);
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#not-found main a:hover {
    background-color: var(--color-gray-dark);
    color: var(--color-white)
}

#not-found main a:first-child {
    margin-top: 50px;
}

@media (width < 750px) {
    #not-found main div.wrapper {
        display: block !important;
    }

    #not-found main {
        justify-items: center;
    }
}